workflows/AgentAI_Mequizap.json
{
  "name": "AgentAI_Mequizap",
  "nodes": [
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2000,
        1552
      ],
      "id": "2be65dad-e193-4e69-b5db-7fe3a96df228",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "P8ScIQf91OgdJhAm",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data[0].body.data.message }} || {{ $json.whatsapp_message }}",
        "options": {
          "systemMessage": "Você é o Méquizap, o atendente virtual do McDonald's: educado, direto, simples.\nSua missão é ser um assistente de pedidos eficiente, usando linguagem coloquial, leve e amigável, mantendo sempre o foco em conduzir o cliente ao resumo e finalização do pedido.\nSeja capaz de dar sugestão de pedido de itens contidos no cardápio caso o cliente não saiba o que deseja.\n\nMantenha-se estritamente no papel de atendente do Méquizap e não respondendo perguntas fora desse contexto.\n\n---\n\n# Resumo do Pedido\n* Apresente o resumo final do pedido usando o template abaixo, com os itens escolhidos em **negrito** e o valor total calculado.\n    * **Template do Resumo Final:**\n        ```\n        ---\n        #### NOVO PEDIDO ####\n\n        #️⃣   Nº pedido: (Gere um código aleatório no padrão MQL-YYYY)\n\n        👤  Nome do cliente: (inserir aqui)\n\n        🛵 Local de retirada: (Inserir nome da unidade selecionada após envio de `whatsapp_message`)\n        🛍️ Tipo de retirada: (se é balcão ou locker)\n        ⏲️ Tempo estimado: 15 - 30min\n\n        ------- ITENS DO PEDIDO -------\n\n        (Emoji relevante) *(ITEM ESCOLHIDO EM NEGRITO)*  *(Valor do Item)*\n        ...\n\n        -------------------------------------------------------------------------------------------\n\n        *VALOR FINAL:* R$ *(Soma total dos itens em negrito e com 2 casas decimais)*\n\n        PAGAMENTO\n        Será efetuado no local\n        ---\n        ```\n\n* **Finalização:** Com a confirmação, informe o código do pedido gerado, o tipo de retirada, reitere que o pagamento será feito no local, e que o pedido foi enviado para preparo. Agradeça o cliente de forma calorosa.\n\n---\n\n# Regras\n- Na primeira interação do atendimento sempre se apresente e dê boas vindas.\n- O pagamento SEMPRE será efetuado no local. Se for tipo balcão irá pagar no balcão com atendente.\n- A retirada do pedido só pode ser locker ou balcão;\n- **Ação de Localização:** Pedir que compartilhe a localização e quando o cliente enviar uma localização, o sistema irá gerar uma mensagem na variável `whatsapp_message`. Se a mensagem do cliente for uma localização, você deve **enviar para o cliente o conteúdo de `whatsapp_message` e pedir para que ele selecione uma das unidades para dar continuidade ao pedido**.\n- Valores devem ser apresentados com duas casas decimais;\n- Deve gerar um número de locker aleatório entre 1 e 20;\n- Quando o cliente não informar o tamanho do item, e houver mais de um tamanho no cardápio, deve confirmar qual o tamanho. (Ex: batata pequena, média ou grande);\n- Se o pedido incluir itens como sorvetes e milkshakes o pedido deve ser obrigatóriamente de retirada no balcão, nesses casos NÃO oferecer retirada em locker;\n- Não é preciso confirmar a quantidade desejada.\n- Sempre mostre os itens do pedido em lista com **nome_item\"\" - **valor_item**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2224,
        1280
      ],
      "id": "4a3a1238-8d3e-4063-ab3e-6ee588ed75c8",
      "name": "Agente_Mequizap"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Essa ferramenta é acionada para saber os itens disponíveis no cardápio. Nenhum item fora do cardápio deverá ser oferecido",
        "documentId": {
          "__rl": true,
          "value": "1qFljuGNlUs0NNgBUzICx7frvsrSRTxGAMXIC0vZLr5A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 877950601,
          "mode": "list",
          "cachedResultName": "Versão menor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qFljuGNlUs0NNgBUzICx7frvsrSRTxGAMXIC0vZLr5A/edit#gid=877950601"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2464,
        1536
      ],
      "id": "107a21a9-891d-446f-a9f4-c9432239b017",
      "name": "Cardapio_MC_reduzido",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A3ZGT9zgU8FPPjDf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mequizap",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        368,
        1376
      ],
      "id": "ba4eb92a-a408-467c-84af-0c356520a73a",
      "name": "Webhook",
      "webhookId": "1b77ffaf-f9fa-411f-83b4-21c615877998"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6d5a66a-aed1-41b1-9d1b-b01e97867b69",
              "name": "body.data.message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "7246ebe2-d1bb-4b1d-80b9-6e7d95fda81d",
              "name": "Latitude",
              "value": "={{ $json.body.data.message.locationMessage.degreesLatitude }}",
              "type": "number"
            },
            {
              "id": "636ac5e3-d3d1-4065-bcfd-a3cdfa2e0b60",
              "name": "Longitude",
              "value": "={{ $json.body.data.message.locationMessage.degreesLongitude }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        1280
      ],
      "id": "9e7703bb-0457-4678-80a2-c311b4069f8e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/message/sendText/{{ $('Webhook').item.json.body.instance }} ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0R10NxtP0wsAd2qWe5mequiZ4pF1nalpr0ject123"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.whatsapp_message || $node[\"Agente_Mequizap\"].json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2608,
        1280
      ],
      "id": "b31961da-98e1-4310-9fed-edddea4770ff",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        864,
        1552
      ],
      "id": "ff4748c6-b9b2-4fb4-b355-1e0a1e9be7bc",
      "name": "Do nothing"
    },
    {
      "parameters": {
        "content": "### Validação de número para ambiente de teste, respondendo apenas a números especificos",
        "height": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        1216
      ],
      "typeVersion": 1,
      "id": "efd1f8be-62d9-43e3-995a-0b7e9a5bedb4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### refina para pegar apenas a mensagem do cliente",
        "height": 304,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        1152
      ],
      "typeVersion": 1,
      "id": "8ac15c77-1022-4ec4-87ce-51f753a8d81f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Agente personalzado para responder a perguntas dentro da persona",
        "height": 240,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        1184
      ],
      "typeVersion": 1,
      "id": "25cf6251-709b-4d82-afc6-0751d62a2b24",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n### modelo de linguagem utilizado",
        "height": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        1520
      ],
      "typeVersion": 1,
      "id": "78e4f294-287d-46d0-b0e8-9dd5137bce7b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n### memória de curto prazo",
        "height": 224,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        1520
      ],
      "typeVersion": 1,
      "id": "1f23fd05-9235-4179-a3c5-a3531d62aac9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n###  RAG com base de conhecimento do cardápio",
        "height": 240,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2416,
        1520
      ],
      "typeVersion": 1,
      "id": "40023962-bf41-4c24-b532-6b02a2b7871c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT\n    r.id,\n    r.nome,\n    r.endereco,\n    r.latitude,\n    r.longitude,\n    f.url AS imagem_url, -- O campo que contém o caminho da imagem\n    -- 1. Calcula a distância usando a fórmula Haversine no SQL\n    (\n        6371 * acos(\n            cos( radians( {{ parseFloat($json.Latitude ?? 0) }} ) )\n            * cos( radians( r.latitude ) )\n            * cos( radians( r.longitude ) - radians( {{ parseFloat($json.Longitude ?? 0) }} ) )\n            + sin( radians( {{ parseFloat($json.Latitude ?? 0) }} ) )\n            * sin( radians( r.latitude ) )\n        )\n    ) AS distancia_km\nFROM\n    public.restaurantes r\nLEFT JOIN\n    files_related_mph frm ON frm.related_id = r.id \n                         AND frm.related_type = 'api::restaurante.restaurante' \n                         AND frm.field = 'img'\nLEFT JOIN\n    files f ON f.id = frm.file_id\n-- 2. Filtra apenas os que estão a 5km ou menos\nWHERE\n    (\n        6371 * acos(\n            cos( radians( {{ parseFloat($json.Latitude ?? 0) }} ) )\n            * cos( radians( r.latitude ) )\n            * cos( radians( r.longitude ) - radians( {{ parseFloat($json.Longitude ?? 0) }} ) )\n            + sin( radians( {{ parseFloat($json.Latitude ?? 0) }} ) )\n            * sin( radians( r.latitude ) )\n        )\n    ) <= 5\nORDER BY\n    distancia_km ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1328,
        1040
      ],
      "id": "16343901-8d1a-491d-941b-659477ed3297",
      "name": "POSTGRES_QUERY",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "1jXSWCEhJQwqNdL5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1584,
        1040
      ],
      "id": "4d023760-4e66-4455-b4d3-15d375a5484c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "### Agrupa os itens em única lista",
        "height": 240,
        "width": 176,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        944
      ],
      "typeVersion": 1,
      "id": "4fdd5c34-e10f-42c6-8d52-da9376478a60",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9753b07d-7752-40c4-ac72-28f10a3dd1aa",
              "leftValue": "={{ $json.Latitude }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ba5b91ce-3f99-43df-8565-382a17af0a83",
              "leftValue": "={{ $json.Longitude }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        1280
      ],
      "id": "6ae8640b-ff74-4c04-8591-4e2d8fdb0f56",
      "name": "Se mandar localização"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1408,
        1296
      ],
      "id": "2fd0cc3d-a040-49de-b720-6e87320bef34",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "64c886a6-3cec-4347-9022-17dd4519bb15",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "558596742948@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c016e4c0-a873-49c4-8242-b76f2de257de",
              "leftValue": "={{ $json.body.data.key.remoteJidAlt }}",
              "rightValue": "5511999554145@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "0bcab191-79ce-4190-a19a-e4118d4d860a",
              "leftValue": "={{ $json.body.data.message.locationMessage.degreesLatitude }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a653ce2a-ada4-46db-a951-060cc8c73ddd",
              "leftValue": "={{ $json.body.data.message.locationMessage.degreesLongitude }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f6c1b9f1-1b12-440e-aead-26616a7248a3",
              "leftValue": "={{ $json.body.data.key.remoteJidAlt }}",
              "rightValue": "5511963621644@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cd6f0b2a-f198-4723-8a62-eefb525b26de",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "558499101885@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        1376
      ],
      "id": "d84b7f93-8490-4ee6-ae14-9b4e05d38978",
      "name": "Validação do número de entrada"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "sessionTTL": 600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2240,
        1552
      ],
      "id": "f70b375a-2194-48c0-9c74-a0f977eacda8",
      "name": "Redis Chat Memory",
      "notesInFlow": false,
      "credentials": {
        "redis": {
          "id": "yIuFaHcwhvWgH3Nv",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94c762f9-2945-4601-b6de-9fb15162a183",
              "name": "whatsapp_message",
              "value": "={{ \"🎉 Ótimas notícias! Encontrei estes restaurantes próximos a você:\\n\\n\" + $input.item.json.data.map((item, index) => { \n    return `${index + 1}. *${item.nome}*\\n   _Endereço:_ ${item.endereco}\\n`;\n}).join(\"\\n\") + \"\\nQualquer um deles é uma ótima opção para o seu pedido! 😋\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        1040
      ],
      "id": "901ff4d2-4591-4214-8274-90b7ae932898",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.remoteJid }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1072,
        1888
      ],
      "id": "8a350910-cb8f-4117-a812-a526f8b26009",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "yIuFaHcwhvWgH3Nv",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        768,
        1888
      ],
      "id": "1c225e22-0be7-494a-9191-a069a1d9a69d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n##  Reset de dados na memória",
        "height": 288,
        "width": 576,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        1840
      ],
      "typeVersion": 1,
      "id": "2ac1b40b-1363-4886-ab4a-0d464f71d2fa",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f335953f-3542-4c7c-ae9b-af022537c33d",
              "name": "remoteJid",
              "value": "558596742948@s.whatsapp.net",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        1888
      ],
      "id": "cc5b79f1-f201-4ad9-9a31-4c3c8cfec224",
      "name": "remove_Jid"
    }
  ],
  "pinData": {
    "Agente_Mequizap": [
      {
        "json": {
          "output": "Opa! De novo? Hehe 😄\nPra gente não perder o ritmo, me diz seu nome, por favor! Assim a gente já começa seu pedido no Méqui! 🍟"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.12.2",
            "content-length": "26053",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "n8n:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "mequizap",
            "data": {
              "key": {
                "remoteJid": "83138084655278@lid",
                "remoteJidAlt": "558599422792@s.whatsapp.net",
                "fromMe": true,
                "id": "ACDCA20F63FFA3A09C3C9725F673F049",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "Maria Karoline",
              "status": "SERVER_ACK",
              "message": {
                "locationMessage": {
                  "degreesLatitude": -3.8362064,
                  "degreesLongitude": -38.516119,
                  "jpegThumbnail": {
                    "0": 255,
                    "1": 216,
                    "2": 255,
                    "3": 224,
                    "4": 0,
                    "5": 16,
                    "6": 74,
                    "7": 70,
                    "8": 73,
                    "9": 70,
                    "10": 0,
                    "11": 1,
                    "12": 1,
                    "13": 0,
                    "14": 0,
                    "15": 1,
                    "16": 0,
                    "17": 1,
                    "18": 0,
                    "19": 0,
                    "20": 255,
                    "21": 226,
                    "22": 1,
                    "23": 216,
                    "24": 73,
                    "25": 67,
                    "26": 67,
                    "27": 95,
                    "28": 80,
                    "29": 82,
                    "30": 79,
                    "31": 70,
                    "32": 73,
                    "33": 76,
                    "34": 69,
                    "35": 0,
                    "36": 1,
                    "37": 1,
                    "38": 0,
                    "39": 0,
                    "40": 1,
                    "41": 200,
                    "42": 0,
                    "43": 0,
                    "44": 0,
                    "45": 0,
                    "46": 4,
                    "47": 48,
                    "48": 0,
                    "49": 0,
                    "50": 109,
                    "51": 110,
                    "52": 116,
                    "53": 114,
                    "54": 82,
                    "55": 71,
                    "56": 66,
                    "57": 32,
                    "58": 88,
                    "59": 89,
                    "60": 90,
                    "61": 32,
                    "62": 7,
                    "63": 224,
                    "64": 0,
                    "65": 1,
                    "66": 0,
                    "67": 1,
                    "68": 0,
                    "69": 0,
                    "70": 0,
                    "71": 0,
                    "72": 0,
                    "73": 0,
                    "74": 97,
                    "75": 99,
                    "76": 115,
                    "77": 112,
                    "78": 0,
                    "79": 0,
                    "80": 0,
                    "81": 0,
                    "82": 0,
                    "83": 0,
                    "84": 0,
                    "85": 0,
                    "86": 0,
                    "87": 0,
                    "88": 0,
                    "89": 0,
                    "90": 0,
                    "91": 0,
                    "92": 0,
                    "93": 0,
                    "94": 0,
                    "95": 0,
                    "96": 0,
                    "97": 0,
                    "98": 0,
                    "99": 0,
                    "100": 0,
                    "101": 0,
                    "102": 0,
                    "103": 0,
                    "104": 0,
                    "105": 1,
                    "106": 0,
                    "107": 0,
                    "108": 246,
                    "109": 214,
                    "110": 0,
                    "111": 1,
                    "112": 0,
                    "113": 0,
                    "114": 0,
                    "115": 0,
                    "116": 211,
                    "117": 45,
                    "118": 0,
                    "119": 0,
                    "120": 0,
                    "121": 0,
                    "122": 0,
                    "123": 0,
                    "124": 0,
                    "125": 0,
                    "126": 0,
                    "127": 0,
                    "128": 0,
                    "129": 0,
                    "130": 0,
                    "131": 0,
                    "132": 0,
                    "133": 0,
                    "134": 0,
                    "135": 0,
                    "136": 0,
                    "137": 0,
                    "138": 0,
                    "139": 0,
                    "140": 0,
                    "141": 0,
                    "142": 0,
                    "143": 0,
                    "144": 0,
                    "145": 0,
                    "146": 0,
                    "147": 0,
                    "148": 0,
                    "149": 0,
                    "150": 0,
                    "151": 0,
                    "152": 0,
                    "153": 0,
                    "154": 0,
                    "155": 0,
                    "156": 0,
                    "157": 0,
                    "158": 0,
                    "159": 0,
                    "160": 0,
                    "161": 0,
                    "162": 0,
                    "163": 0,
                    "164": 0,
                    "165": 0,
                    "166": 0,
                    "167": 0,
                    "168": 0,
                    "169": 9,
                    "170": 100,
                    "171": 101,
                    "172": 115,
                    "173": 99,
                    "174": 0,
                    "175": 0,
                    "176": 0,
                    "177": 240,
                    "178": 0,
                    "179": 0,
                    "180": 0,
                    "181": 36,
                    "182": 114,
                    "183": 88,
                    "184": 89,
                    "185": 90,
                    "186": 0,
                    "187": 0,
                    "188": 1,
                    "189": 20,
                    "190": 0,
                    "191": 0,
                    "192": 0,
                    "193": 20,
                    "194": 103,
                    "195": 88,
                    "196": 89,
                    "197": 90,
                    "198": 0,
                    "199": 0,
                    "200": 1,
                    "201": 40,
                    "202": 0,
                    "203": 0,
                    "204": 0,
                    "205": 20,
                    "206": 98,
                    "207": 88,
                    "208": 89,
                    "209": 90,
                    "210": 0,
                    "211": 0,
                    "212": 1,
                    "213": 60,
                    "214": 0,
                    "215": 0,
                    "216": 0,
                    "217": 20,
                    "218": 119,
                    "219": 116,
                    "220": 112,
                    "221": 116,
                    "222": 0,
                    "223": 0,
                    "224": 1,
                    "225": 80,
                    "226": 0,
                    "227": 0,
                    "228": 0,
                    "229": 20,
                    "230": 114,
                    "231": 84,
                    "232": 82,
                    "233": 67,
                    "234": 0,
                    "235": 0,
                    "236": 1,
                    "237": 100,
                    "238": 0,
                    "239": 0,
                    "240": 0,
                    "241": 40,
                    "242": 103,
                    "243": 84,
                    "244": 82,
                    "245": 67,
                    "246": 0,
                    "247": 0,
                    "248": 1,
                    "249": 100,
                    "250": 0,
                    "251": 0,
                    "252": 0,
                    "253": 40,
                    "254": 98,
                    "255": 84,
                    "256": 82,
                    "257": 67,
                    "258": 0,
                    "259": 0,
                    "260": 1,
                    "261": 100,
                    "262": 0,
                    "263": 0,
                    "264": 0,
                    "265": 40,
                    "266": 99,
                    "267": 112,
                    "268": 114,
                    "269": 116,
                    "270": 0,
                    "271": 0,
                    "272": 1,
                    "273": 140,
                    "274": 0,
                    "275": 0,
                    "276": 0,
                    "277": 60,
                    "278": 109,
                    "279": 108,
                    "280": 117,
                    "281": 99,
                    "282": 0,
                    "283": 0,
                    "284": 0,
                    "285": 0,
                    "286": 0,
                    "287": 0,
                    "288": 0,
                    "289": 1,
                    "290": 0,
                    "291": 0,
                    "292": 0,
                    "293": 12,
                    "294": 101,
                    "295": 110,
                    "296": 85,
                    "297": 83,
                    "298": 0,
                    "299": 0,
                    "300": 0,
                    "301": 8,
                    "302": 0,
                    "303": 0,
                    "304": 0,
                    "305": 28,
                    "306": 0,
                    "307": 115,
                    "308": 0,
                    "309": 82,
                    "310": 0,
                    "311": 71,
                    "312": 0,
                    "313": 66,
                    "314": 88,
                    "315": 89,
                    "316": 90,
                    "317": 32,
                    "318": 0,
                    "319": 0,
                    "320": 0,
                    "321": 0,
                    "322": 0,
                    "323": 0,
                    "324": 111,
                    "325": 162,
                    "326": 0,
                    "327": 0,
                    "328": 56,
                    "329": 245,
                    "330": 0,
                    "331": 0,
                    "332": 3,
                    "333": 144,
                    "334": 88,
                    "335": 89,
                    "336": 90,
                    "337": 32,
                    "338": 0,
                    "339": 0,
                    "340": 0,
                    "341": 0,
                    "342": 0,
                    "343": 0,
                    "344": 98,
                    "345": 153,
                    "346": 0,
                    "347": 0,
                    "348": 183,
                    "349": 133,
                    "350": 0,
                    "351": 0,
                    "352": 24,
                    "353": 218,
                    "354": 88,
                    "355": 89,
                    "356": 90,
                    "357": 32,
                    "358": 0,
                    "359": 0,
                    "360": 0,
                    "361": 0,
                    "362": 0,
                    "363": 0,
                    "364": 36,
                    "365": 160,
                    "366": 0,
                    "367": 0,
                    "368": 15,
                    "369": 132,
                    "370": 0,
                    "371": 0,
                    "372": 182,
                    "373": 207,
                    "374": 88,
                    "375": 89,
                    "376": 90,
                    "377": 32,
                    "378": 0,
                    "379": 0,
                    "380": 0,
                    "381": 0,
                    "382": 0,
                    "383": 0,
                    "384": 246,
                    "385": 214,
                    "386": 0,
                    "387": 1,
                    "388": 0,
                    "389": 0,
                    "390": 0,
                    "391": 0,
                    "392": 211,
                    "393": 45,
                    "394": 112,
                    "395": 97,
                    "396": 114,
                    "397": 97,
                    "398": 0,
                    "399": 0,
                    "400": 0,
                    "401": 0,
                    "402": 0,
                    "403": 4,
                    "404": 0,
                    "405": 0,
                    "406": 0,
                    "407": 2,
                    "408": 102,
                    "409": 102,
                    "410": 0,
                    "411": 0,
                    "412": 242,
                    "413": 167,
                    "414": 0,
                    "415": 0,
                    "416": 13,
                    "417": 89,
                    "418": 0,
                    "419": 0,
                    "420": 19,
                    "421": 208,
                    "422": 0,
                    "423": 0,
                    "424": 10,
                    "425": 91,
                    "426": 0,
                    "427": 0,
                    "428": 0,
                    "429": 0,
                    "430": 0,
                    "431": 0,
                    "432": 0,
                    "433": 0,
                    "434": 109,
                    "435": 108,
                    "436": 117,
                    "437": 99,
                    "438": 0,
                    "439": 0,
                    "440": 0,
                    "441": 0,
                    "442": 0,
                    "443": 0,
                    "444": 0,
                    "445": 1,
                    "446": 0,
                    "447": 0,
                    "448": 0,
                    "449": 12,
                    "450": 101,
                    "451": 110,
                    "452": 85,
                    "453": 83,
                    "454": 0,
                    "455": 0,
                    "456": 0,
                    "457": 32,
                    "458": 0,
                    "459": 0,
                    "460": 0,
                    "461": 28,
                    "462": 0,
                    "463": 71,
                    "464": 0,
                    "465": 111,
                    "466": 0,
                    "467": 111,
                    "468": 0,
                    "469": 103,
                    "470": 0,
                    "471": 108,
                    "472": 0,
                    "473": 101,
                    "474": 0,
                    "475": 32,
                    "476": 0,
                    "477": 73,
                    "478": 0,
                    "479": 110,
                    "480": 0,
                    "481": 99,
                    "482": 0,
                    "483": 46,
                    "484": 0,
                    "485": 32,
                    "486": 0,
                    "487": 50,
                    "488": 0,
                    "489": 48,
                    "490": 0,
                    "491": 49,
                    "492": 0,
                    "493": 54,
                    "494": 255,
                    "495": 219,
                    "496": 0,
                    "497": 67,
                    "498": 0,
                    "499": 6,
                    "500": 4,
                    "501": 5,
                    "502": 6,
                    "503": 5,
                    "504": 4,
                    "505": 6,
                    "506": 6,
                    "507": 5,
                    "508": 6,
                    "509": 7,
                    "510": 7,
                    "511": 6,
                    "512": 8,
                    "513": 10,
                    "514": 16,
                    "515": 10,
                    "516": 10,
                    "517": 9,
                    "518": 9,
                    "519": 10,
                    "520": 20,
                    "521": 14,
                    "522": 15,
                    "523": 12,
                    "524": 16,
                    "525": 23,
                    "526": 20,
                    "527": 24,
                    "528": 24,
                    "529": 23,
                    "530": 20,
                    "531": 22,
                    "532": 22,
                    "533": 26,
                    "534": 29,
                    "535": 37,
                    "536": 31,
                    "537": 26,
                    "538": 27,
                    "539": 35,
                    "540": 28,
                    "541": 22,
                    "542": 22,
                    "543": 32,
                    "544": 44,
                    "545": 32,
                    "546": 35,
                    "547": 38,
                    "548": 39,
                    "549": 41,
                    "550": 42,
                    "551": 41,
                    "552": 25,
                    "553": 31,
                    "554": 45,
                    "555": 48,
                    "556": 45,
                    "557": 40,
                    "558": 48,
                    "559": 37,
                    "560": 40,
                    "561": 41,
                    "562": 40,
                    "563": 255,
                    "564": 219,
                    "565": 0,
                    "566": 67,
                    "567": 1,
                    "568": 7,
                    "569": 7,
                    "570": 7,
                    "571": 10,
                    "572": 8,
                    "573": 10,
                    "574": 19,
                    "575": 10,
                    "576": 10,
                    "577": 19,
                    "578": 40,
                    "579": 26,
                    "580": 22,
                    "581": 26,
                    "582": 40,
                    "583": 40,
                    "584": 40,
                    "585": 40,
                    "586": 40,
                    "587": 40,
                    "588": 40,
                    "589": 40,
                    "590": 40,
                    "591": 40,
                    "592": 40,
                    "593": 40,
                    "594": 40,
                    "595": 40,
                    "596": 40,
                    "597": 40,
                    "598": 40,
                    "599": 40,
                    "600": 40,
                    "601": 40,
                    "602": 40,
                    "603": 40,
                    "604": 40,
                    "605": 40,
                    "606": 40,
                    "607": 40,
                    "608": 40,
                    "609": 40,
                    "610": 40,
                    "611": 40,
                    "612": 40,
                    "613": 40,
                    "614": 40,
                    "615": 40,
                    "616": 40,
                    "617": 40,
                    "618": 40,
                    "619": 40,
                    "620": 40,
                    "621": 40,
                    "622": 40,
                    "623": 40,
                    "624": 40,
                    "625": 40,
                    "626": 40,
                    "627": 40,
                    "628": 40,
                    "629": 40,
                    "630": 40,
                    "631": 40,
                    "632": 255,
                    "633": 192,
                    "634": 0,
                    "635": 17,
                    "636": 8,
                    "637": 0,
                    "638": 100,
                    "639": 0,
                    "640": 100,
                    "641": 3,
                    "642": 1,
                    "643": 34,
                    "644": 0,
                    "645": 2,
                    "646": 17,
                    "647": 1,
                    "648": 3,
                    "649": 17,
                    "650": 1,
                    "651": 255,
                    "652": 196,
                    "653": 0,
                    "654": 28,
                    "655": 0,
                    "656": 0,
                    "657": 3,
                    "658": 1,
                    "659": 1,
                    "660": 1,
                    "661": 1,
                    "662": 1,
                    "663": 1,
                    "664": 0,
                    "665": 0,
                    "666": 0,
                    "667": 0,
                    "668": 0,
                    "669": 0,
                    "670": 0,
                    "671": 0,
                    "672": 0,
                    "673": 2,
                    "674": 3,
                    "675": 1,
                    "676": 4,
                    "677": 7,
                    "678": 8,
                    "679": 6,
                    "680": 5,
                    "681": 255,
                    "682": 196,
                    "683": 0,
                    "684": 62,
                    "685": 16,
                    "686": 0,
                    "687": 2,
                    "688": 1,
                    "689": 2,
                    "690": 3,
                    "691": 4,
                    "692": 5,
                    "693": 8,
                    "694": 8,
                    "695": 5,
                    "696": 5,
                    "697": 0,
                    "698": 0,
                    "699": 0,
                    "700": 0,
                    "701": 0,
                    "702": 1,
                    "703": 2,
                    "704": 0,
                    "705": 3,
                    "706": 17,
                    "707": 4,
                    "708": 18,
                    "709": 49,
                    "710": 33,
                    "711": 65,
                    "712": 81,
                    "713": 97,
                    "714": 5,
                    "715": 19,
                    "716": 50,
                    "717": 113,
                    "718": 177,
                    "719": 6,
                    "720": 34,
                    "721": 35,
                    "722": 51,
                    "723": 52,
                    "724": 66,
                    "725": 82,
                    "726": 114,
                    "727": 98,
                    "728": 129,
                    "729": 161,
                    "730": 178,
                    "731": 193,
                    "732": 209,
                    "733": 225,
                    "734": 240,
                    "735": 7,
                    "736": 20,
                    "737": 67,
                    "738": 130,
                    "739": 145,
                    "740": 68,
                    "741": 99,
                    "742": 115,
                    "743": 162,
                    "744": 241,
                    "745": 255,
                    "746": 196,
                    "747": 0,
                    "748": 26,
                    "749": 1,
                    "750": 1,
                    "751": 1,
                    "752": 1,
                    "753": 1,
                    "754": 1,
                    "755": 1,
                    "756": 1,
                    "757": 0,
                    "758": 0,
                    "759": 0,
                    "760": 0,
                    "761": 0,
                    "762": 0,
                    "763": 0,
                    "764": 0,
                    "765": 0,
                    "766": 0,
                    "767": 1,
                    "768": 2,
                    "769": 4,
                    "770": 5,
                    "771": 3,
                    "772": 6,
                    "773": 255,
                    "774": 196,
                    "775": 0,
                    "776": 41,
                    "777": 17,
                    "778": 0,
                    "779": 2,
                    "780": 1,
                    "781": 3,
                    "782": 2,
                    "783": 5,
                    "784": 2,
                    "785": 7,
                    "786": 0,
                    "787": 0,
                    "788": 0,
                    "789": 0,
                    "790": 0,
                    "791": 0,
                    "792": 0,
                    "793": 0,
                    "794": 0,
                    "795": 1,
                    "796": 2,
                    "797": 3,
                    "798": 17,
                    "799": 49,
                    "800": 4,
                    "801": 5,
                    "802": 18,
                    "803": 19,
                    "804": 33,
                    "805": 65,
                    "806": 113,
                    "807": 20,
                    "808": 129,
                    "809": 6,
                    "810": 34,
                    "811": 50,
                    "812": 81,
                    "813": 161,
                    "814": 209,
                    "815": 241,
                    "816": 255,
                    "817": 218,
                    "818": 0,
                    "819": 12,
                    "820": 3,
                    "821": 1,
                    "822": 0,
                    "823": 2,
                    "824": 17,
                    "825": 3,
                    "826": 17,
                    "827": 0,
                    "828": 63,
                    "829": 0,
                    "830": 250,
                    "831": 48,
                    "832": 48,
                    "833": 107,
                    "834": 219,
                    "835": 83,
                    "836": 84,
                    "837": 108,
                    "838": 58,
                    "839": 236,
                    "840": 183,
                    "841": 229,
                    "842": 58,
                    "843": 103,
                    "844": 33,
                    "845": 86,
                    "846": 205,
                    "847": 152,
                    "848": 4,
                    "849": 245,
                    "850": 134,
                    "851": 196,
                    "852": 141,
                    "853": 186,
                    "854": 203,
                    "855": 250,
                    "856": 94,
                    "857": 8,
                    "858": 126,
                    "859": 179,
                    "860": 57,
                    "861": 228,
                    "862": 190,
                    "863": 198,
                    "864": 226,
                    "865": 202,
                    "866": 97,
                    "867": 189,
                    "868": 72,
                    "869": 230,
                    "870": 73,
                    "871": 251,
                    "872": 97,
                    "873": 254,
                    "874": 164,
                    "875": 242,
                    "876": 79,
                    "877": 198,
                    "878": 24,
                    "879": 111,
                    "880": 103,
                    "881": 167,
                    "882": 221,
                    "883": 1,
                    "884": 237,
                    "885": 45,
                    "886": 242,
                    "887": 15,
                    "888": 19,
                    "889": 58,
                    "890": 76,
                    "891": 6,
                    "892": 35,
                    "893": 213,
                    "894": 143,
                    "895": 157,
                    "896": 126,
                    "897": 240,
                    "898": 148,
                    "899": 147,
                    "900": 196,
                    "901": 118,
                    "902": 87,
                    "903": 231,
                    "904": 95,
                    "905": 17,
                    "906": 41,
                    "907": 5,
                    "908": 39,
                    "909": 135,
                    "910": 245,
                    "911": 95,
                    "912": 220,
                    "913": 199,
                    "914": 237,
                    "915": 48,
                    "916": 30,
                    "917": 210,
                    "918": 121,
                    "919": 32,
                    "920": 241,
                    "921": 134,
                    "922": 27,
                    "923": 212,
                    "924": 175,
                    "925": 215,
                    "926": 227,
                    "927": 1,
                    "928": 237,
                    "929": 47,
                    "930": 201,
                    "931": 23,
                    "932": 196,
                    "933": 193,
                    "934": 3,
                    "935": 17,
                    "936": 234,
                    "937": 199,
                    "938": 206,
                    "939": 191,
                    "940": 120,
                    "941": 74,
                    "942": 73,
                    "943": 226,
                    "944": 59,
                    "945": 43,
                    "946": 243,
                    "947": 175,
                    "948": 136,
                    "949": 148,
                    "950": 130,
                    "951": 146,
                    "952": 195,
                    "953": 108,
                    "954": 165,
                    "955": 109,
                    "956": 193,
                    "957": 152,
                    "958": 14,
                    "959": 235,
                    "960": 153,
                    "961": 89,
                    "962": 60,
                    "963": 63,
                    "964": 171,
                    "965": 63,
                    "966": 59,
                    "967": 125,
                    "968": 227,
                    "969": 41,
                    "970": 35,
                    "971": 11,
                    "972": 1,
                    "973": 8,
                    "974": 66,
                    "975": 1,
                    "976": 198,
                    "977": 128,
                    "978": 0,
                    "979": 128,
                    "980": 104,
                    "981": 42,
                    "982": 159,
                    "983": 198,
                    "984": 116,
                    "985": 78,
                    "986": 116,
                    "987": 189,
                    "988": 169,
                    "989": 95,
                    "990": 94,
                    "991": 181,
                    "992": 175,
                    "993": 111,
                    "994": 238,
                    "995": 157,
                    "996": 19,
                    "997": 154,
                    "998": 89,
                    "999": 55,
                    "1000": 16,
                    "1001": 195,
                    "1002": 123,
                    "1003": 61,
                    "1004": 63,
                    "1005": 148,
                    "1006": 65,
                    "1007": 125,
                    "1008": 166,
                    "1009": 167,
                    "1010": 200,
                    "1011": 190,
                    "1012": 45,
                    "1013": 12,
                    "1014": 47,
                    "1015": 179,
                    "1016": 82,
                    "1017": 249,
                    "1018": 7,
                    "1019": 132,
                    "1020": 23,
                    "1021": 218,
                    "1022": 42,
                    "1023": 124,
                    "1024": 170,
                    "1025": 60,
                    "1026": 103,
                    "1027": 81,
                    "1028": 243,
                    "1029": 10,
                    "1030": 250,
                    "1031": 32,
                    "1032": 250,
                    "1033": 98,
                    "1034": 126,
                    "1035": 111,
                    "1036": 202,
                    "1037": 255,
                    "1038": 0,
                    "1039": 45,
                    "1040": 122,
                    "1041": 55,
                    "1042": 201,
                    "1043": 162,
                    "1044": 40,
                    "1045": 214,
                    "1046": 15,
                    "1047": 137,
                    "1048": 199,
                    "1049": 48,
                    "1050": 204,
                    "1051": 48,
                    "1052": 244,
                    "1053": 173,
                    "1054": 112,
                    "1055": 55,
                    "1056": 22,
                    "1057": 39,
                    "1058": 98,
                    "1059": 143,
                    "1060": 183,
                    "1061": 148,
                    "1062": 253,
                    "1063": 37,
                    "1064": 125,
                    "1065": 105,
                    "1066": 15,
                    "1067": 166,
                    "1068": 63,
                    "1069": 25,
                    "1070": 242,
                    "1071": 231,
                    "1072": 74,
                    "1073": 116,
                    "1074": 141,
                    "1075": 92,
                    "1076": 117,
                    "1077": 124,
                    "1078": 87,
                    "1079": 73,
                    "1080": 98,
                    "1081": 137,
                    "1082": 122,
                    "1083": 213,
                    "1084": 216,
                    "1085": 214,
                    "1086": 110,
                    "1087": 243,
                    "1088": 160,
                    "1089": 238,
                    "1090": 2,
                    "1091": 192,
                    "1092": 114,
                    "1093": 19,
                    "1094": 143,
                    "1095": 87,
                    "1096": 168,
                    "1097": 116,
                    "1098": 98,
                    "1099": 184,
                    "1100": 114,
                    "1101": 207,
                    "1102": 111,
                    "1103": 100,
                    "1104": 219,
                    "1105": 97,
                    "1106": 174,
                    "1107": 169,
                    "1108": 39,
                    "1109": 85,
                    "1110": 252,
                    "1111": 177,
                    "1112": 201,
                    "1113": 234,
                    "1114": 88,
                    "1115": 15,
                    "1116": 226,
                    "1117": 213,
                    "1118": 53,
                    "1119": 122,
                    "1120": 105,
                    "1121": 139,
                    "1122": 232,
                    "1123": 106,
                    "1124": 148,
                    "1125": 232,
                    "1126": 141,
                    "1127": 133,
                    "1128": 232,
                    "1129": 226,
                    "1130": 5,
                    "1131": 70,
                    "1132": 31,
                    "1133": 218,
                    "1134": 85,
                    "1135": 124,
                    "1136": 103,
                    "1137": 162,
                    "1138": 116,
                    "1139": 55,
                    "1140": 73,
                    "1141": 225,
                    "1142": 58,
                    "1143": 94,
                    "1144": 128,
                    "1145": 198,
                    "1146": 244,
                    "1147": 117,
                    "1148": 101,
                    "1149": 173,
                    "1150": 135,
                    "1151": 168,
                    "1152": 139,
                    "1153": 102,
                    "1154": 27,
                    "1155": 44,
                    "1156": 110,
                    "1157": 110,
                    "1158": 8,
                    "1159": 212,
                    "1160": 17,
                    "1161": 192,
                    "1162": 207,
                    "1163": 148,
                    "1164": 240,
                    "1165": 120,
                    "1166": 250,
                    "1167": 149,
                    "1168": 49,
                    "1169": 1,
                    "1170": 42,
                    "1171": 5,
                    "1172": 179,
                    "1173": 105,
                    "1174": 109,
                    "1175": 211,
                    "1176": 214,
                    "1177": 127,
                    "1178": 130,
                    "1179": 56,
                    "1180": 218,
                    "1181": 169,
                    "1182": 211,
                    "1183": 184,
                    "1184": 252,
                    "1185": 0,
                    "1186": 62,
                    "1187": 130,
                    "1188": 182,
                    "1189": 31,
                    "1190": 175,
                    "1191": 43,
                    "1192": 193,
                    "1193": 145,
                    "1194": 149,
                    "1195": 110,
                    "1196": 59,
                    "1197": 195,
                    "1198": 237,
                    "1199": 238,
                    "1200": 19,
                    "1201": 159,
                    "1202": 77,
                    "1203": 171,
                    "1204": 168,
                    "1205": 231,
                    "1206": 193,
                    "1207": 83,
                    "1208": 173,
                    "1209": 207,
                    "1210": 79,
                    "1211": 116,
                    "1212": 217,
                    "1213": 180,
                    "1214": 208,
                    "1215": 211,
                    "1216": 186,
                    "1217": 250,
                    "1218": 110,
                    "1219": 156,
                    "1220": 57,
                    "1221": 95,
                    "1222": 211,
                    "1223": 216,
                    "1224": 43,
                    "1225": 232,
                    "1226": 131,
                    "1227": 139,
                    "1228": 137,
                    "1229": 73,
                    "1230": 58,
                    "1231": 250,
                    "1232": 211,
                    "1233": 31,
                    "1234": 76,
                    "1235": 76,
                    "1236": 175,
                    "1237": 81,
                    "1238": 128,
                    "1239": 41,
                    "1240": 72,
                    "1241": 94,
                    "1242": 169,
                    "1243": 27,
                    "1244": 57,
                    "1245": 115,
                    "1246": 51,
                    "1247": 212,
                    "1248": 63,
                    "1249": 34,
                    "1250": 110,
                    "1251": 27,
                    "1252": 213,
                    "1253": 159,
                    "1254": 157,
                    "1255": 190,
                    "1256": 241,
                    "1257": 141,
                    "1258": 159,
                    "1259": 210,
                    "1260": 228,
                    "1261": 183,
                    "1262": 187,
                    "1263": 114,
                    "1264": 102,
                    "1265": 80,
                    "1266": 42,
                    "1267": 104,
                    "1268": 166,
                    "1269": 77,
                    "1270": 0,
                    "1271": 182,
                    "1272": 217,
                    "1273": 38,
                    "1274": 118,
                    "1275": 167,
                    "1276": 89,
                    "1277": 137,
                    "1278": 166,
                    "1279": 91,
                    "1280": 61,
                    "1281": 149,
                    "1282": 108,
                    "1283": 70,
                    "1284": 239,
                    "1285": 217,
                    "1286": 129,
                    "1287": 132,
                    "1288": 116,
                    "1289": 66,
                    "1290": 73,
                    "1291": 41,
                    "1292": 27,
                    "1293": 94,
                    "1294": 163,
                    "1295": 18,
                    "1296": 199,
                    "1297": 105,
                    "1298": 177,
                    "1299": 32,
                    "1300": 14,
                    "1301": 66,
                    "1302": 18,
                    "1303": 20,
                    "1304": 130,
                    "1305": 127,
                    "1306": 75,
                    "1307": 254,
                    "1308": 70,
                    "1309": 62,
                    "1310": 51,
                    "1311": 160,
                    "1312": 144,
                    "1313": 162,
                    "1314": 228,
                    "1315": 216,
                    "1316": 13,
                    "1317": 76,
                    "1318": 231,
                    "1319": 77,
                    "1320": 105,
                    "1321": 124,
                    "1322": 204,
                    "1323": 124,
                    "1324": 99,
                    "1325": 175,
                    "1326": 166,
                    "1327": 96,
                    "1328": 199,
                    "1329": 213,
                    "1330": 131,
                    "1331": 112,
                    "1332": 62,
                    "1333": 46,
                    "1334": 125,
                    "1335": 211,
                    "1336": 157,
                    "1337": 174,
                    "1338": 183,
                    "1339": 52,
                    "1340": 176,
                    "1341": 24,
                    "1342": 102,
                    "1343": 168,
                    "1344": 248,
                    "1345": 122,
                    "1346": 98,
                    "1347": 152,
                    "1348": 10,
                    "1349": 2,
                    "1350": 128,
                    "1351": 89,
                    "1352": 184,
                    "1353": 142,
                    "1354": 81,
                    "1355": 155,
                    "1356": 14,
                    "1357": 8,
                    "1358": 62,
                    "1359": 123,
                    "1360": 231,
                    "1361": 62,
                    "1362": 245,
                    "1363": 227,
                    "1364": 50,
                    "1365": 149,
                    "1366": 99,
                    "1367": 82,
                    "1368": 152,
                    "1369": 189,
                    "1370": 251,
                    "1371": 75,
                    "1372": 199,
                    "1373": 245,
                    "1374": 148,
                    "1375": 70,
                    "1376": 14,
                    "1377": 161,
                    "1378": 148,
                    "1379": 220,
                    "1380": 25,
                    "1381": 211,
                    "1382": 126,
                    "1383": 232,
                    "1384": 197,
                    "1385": 187,
                    "1386": 50,
                    "1387": 20,
                    "1388": 233,
                    "1389": 163,
                    "1390": 28,
                    "1391": 174,
                    "1392": 24,
                    "1393": 58,
                    "1394": 238,
                    "1395": 204,
                    "1396": 127,
                    "1397": 200,
                    "1398": 159,
                    "1399": 60,
                    "1400": 249,
                    "1401": 109,
                    "1402": 228,
                    "1403": 237,
                    "1404": 79,
                    "1405": 39,
                    "1406": 122,
                    "1407": 110,
                    "1408": 182,
                    "1409": 17,
                    "1410": 208,
                    "1411": 255,
                    "1412": 0,
                    "1413": 37,
                    "1414": 84,
                    "1415": 179,
                    "1416": 225,
                    "1417": 156,
                    "1418": 232,
                    "1419": 212,
                    "1420": 201,
                    "1421": 236,
                    "1422": 247,
                    "1423": 173,
                    "1424": 236,
                    "1425": 126,
                    "1426": 163,
                    "1427": 190,
                    "1428": 125,
                    "1429": 23,
                    "1430": 81,
                    "1431": 51,
                    "1432": 128,
                    "1433": 65,
                    "1434": 179,
                    "1435": 13,
                    "1436": 27,
                    "1437": 132,
                    "1438": 254,
                    "1439": 39,
                    "1440": 149,
                    "1441": 157,
                    "1442": 11,
                    "1443": 135,
                    "1444": 242,
                    "1445": 143,
                    "1446": 161,
                    "1447": 43,
                    "1448": 224,
                    "1449": 113,
                    "1450": 121,
                    "1451": 105,
                    "1452": 87,
                    "1453": 81,
                    "1454": 158,
                    "1455": 149,
                    "1456": 83,
                    "1457": 253,
                    "1458": 55,
                    "1459": 26,
                    "1460": 48,
                    "1461": 229,
                    "1462": 184,
                    "1463": 242,
                    "1464": 36,
                    "1465": 78,
                    "1466": 109,
                    "1467": 85,
                    "1468": 14,
                    "1469": 124,
                    "1470": 58,
                    "1471": 101,
                    "1472": 30,
                    "1473": 182,
                    "1474": 207,
                    "1475": 184,
                    "1476": 250,
                    "1477": 10,
                    "1478": 215,
                    "1479": 151,
                    "1480": 211,
                    "1481": 46,
                    "1482": 143,
                    "1483": 247,
                    "1484": 236,
                    "1485": 124,
                    "1486": 215,
                    "1487": 71,
                    "1488": 9,
                    "1489": 70,
                    "1490": 139,
                    "1491": 231,
                    "1492": 69,
                    "1493": 243,
                    "1494": 183,
                    "1495": 92,
                    "1496": 233,
                    "1497": 61,
                    "1498": 135,
                    "1499": 248,
                    "1500": 65,
                    "1501": 208,
                    "1502": 15,
                    "1503": 132,
                    "1504": 195,
                    "1505": 86,
                    "1506": 233,
                    "1507": 172,
                    "1508": 110,
                    "1509": 122,
                    "1510": 77,
                    "1511": 138,
                    "1512": 65,
                    "1513": 75,
                    "1514": 12,
                    "1515": 131,
                    "1516": 99,
                    "1517": 26,
                    "1518": 119,
                    "1519": 185,
                    "1520": 107,
                    "1521": 125,
                    "1522": 34,
                    "1523": 5,
                    "1524": 185,
                    "1525": 11,
                    "1526": 239,
                    "1527": 159,
                    "1528": 142,
                    "1529": 242,
                    "1530": 3,
                    "1531": 201,
                    "1532": 151,
                    "1533": 233,
                    "1534": 239,
                    "1535": 40,
                    "1536": 223,
                    "1537": 13,
                    "1538": 141,
                    "1539": 166,
                    "1540": 83,
                    "1541": 15,
                    "1542": 129,
                    "1543": 243,
                    "1544": 177,
                    "1545": 104,
                    "1546": 71,
                    "1547": 188,
                    "1548": 24,
                    "1549": 129,
                    "1550": 76,
                    "1551": 247,
                    "1552": 144,
                    "1553": 111,
                    "1554": 201,
                    "1555": 76,
                    "1556": 247,
                    "1557": 234,
                    "1558": 52,
                    "1559": 82,
                    "1560": 144,
                    "1561": 178,
                    "1562": 141,
                    "1563": 182,
                    "1564": 181,
                    "1565": 231,
                    "1566": 30,
                    "1567": 134,
                    "1568": 131,
                    "1569": 111,
                    "1570": 155,
                    "1571": 63,
                    "1572": 99,
                    "1573": 219,
                    "1574": 248,
                    "1575": 135,
                    "1576": 114,
                    "1577": 140,
                    "1578": 99,
                    "1579": 233,
                    "1580": 40,
                    "1581": 247,
                    "1582": 234,
                    "1583": 223,
                    "1584": 229,
                    "1585": 34,
                    "1586": 105,
                    "1587": 65,
                    "1588": 159,
                    "1589": 206,
                    "1590": 168,
                    "1591": 245,
                    "1592": 6,
                    "1593": 219,
                    "1594": 133,
                    "1595": 205,
                    "1596": 164,
                    "1597": 178,
                    "1598": 34,
                    "1599": 160,
                    "1600": 57,
                    "1601": 69,
                    "1602": 175,
                    "1603": 175,
                    "1604": 56,
                    "1605": 210,
                    "1606": 109,
                    "1607": 87,
                    "1608": 206,
                    "1609": 43,
                    "1610": 76,
                    "1611": 103,
                    "1612": 113,
                    "1613": 173,
                    "1614": 180,
                    "1615": 29,
                    "1616": 230,
                    "1617": 122,
                    "1618": 185,
                    "1619": 63,
                    "1620": 29,
                    "1621": 129,
                    "1622": 42,
                    "1623": 30,
                    "1624": 161,
                    "1625": 203,
                    "1626": 0,
                    "1627": 74,
                    "1628": 62,
                    "1629": 160,
                    "1630": 110,
                    "1631": 111,
                    "1632": 214,
                    "1633": 22,
                    "1634": 116,
                    "1635": 169,
                    "1636": 214,
                    "1637": 191,
                    "1638": 157,
                    "1639": 113,
                    "1640": 98,
                    "1641": 7,
                    "1642": 186,
                    "1643": 57,
                    "1644": 113,
                    "1645": 154,
                    "1646": 104,
                    "1647": 117,
                    "1648": 128,
                    "1649": 245,
                    "1650": 199,
                    "1651": 49,
                    "1652": 35,
                    "1653": 77,
                    "1654": 0,
                    "1655": 238,
                    "1656": 141,
                    "1657": 135,
                    "1658": 114,
                    "1659": 244,
                    "1660": 252,
                    "1661": 227,
                    "1662": 118,
                    "1663": 83,
                    "1664": 149,
                    "1665": 187,
                    "1666": 196,
                    "1667": 2,
                    "1668": 144,
                    "1669": 132,
                    "1670": 36,
                    "1671": 41,
                    "1672": 192,
                    "1673": 137,
                    "1674": 215,
                    "1675": 170,
                    "1676": 173,
                    "1677": 200,
                    "1678": 69,
                    "1679": 190,
                    "1680": 98,
                    "1681": 55,
                    "1682": 158,
                    "1683": 18,
                    "1684": 244,
                    "1685": 216,
                    "1686": 131,
                    "1687": 213,
                    "1688": 189,
                    "1689": 179,
                    "1690": 110,
                    "1691": 59,
                    "1692": 152,
                    "1693": 77,
                    "1694": 160,
                    "1695": 65,
                    "1696": 164,
                    "1697": 160,
                    "1698": 12,
                    "1699": 182,
                    "1700": 216,
                    "1701": 71,
                    "1702": 3,
                    "1703": 53,
                    "1704": 208,
                    "1705": 58,
                    "1706": 216,
                    "1707": 253,
                    "1708": 68,
                    "1709": 110,
                    "1710": 156,
                    "1711": 242,
                    "1712": 119,
                    "1713": 118,
                    "1714": 102,
                    "1715": 210,
                    "1716": 238,
                    "1717": 56,
                    "1718": 54,
                    "1719": 138,
                    "1720": 202,
                    "1721": 85,
                    "1722": 141,
                    "1723": 74,
                    "1724": 98,
                    "1725": 247,
                    "1726": 237,
                    "1727": 47,
                    "1728": 31,
                    "1729": 214,
                    "1730": 72,
                    "1731": 85,
                    "1732": 40,
                    "1733": 221,
                    "1734": 91,
                    "1735": 130,
                    "1736": 207,
                    "1737": 168,
                    "1738": 202,
                    "1739": 59,
                    "1740": 67,
                    "1741": 240,
                    "1742": 148,
                    "1743": 20,
                    "1744": 218,
                    "1745": 160,
                    "1746": 244,
                    "1747": 166,
                    "1748": 203,
                    "1749": 240,
                    "1750": 41,
                    "1751": 241,
                    "1752": 51,
                    "1753": 233,
                    "1754": 77,
                    "1755": 53,
                    "1756": 224,
                    "1757": 204,
                    "1758": 154,
                    "1759": 96,
                    "1760": 43,
                    "1761": 138,
                    "1762": 131,
                    "1763": 208,
                    "1764": 12,
                    "1765": 231,
                    "1766": 142,
                    "1767": 128,
                    "1768": 119,
                    "1769": 205,
                    "1770": 90,
                    "1771": 32,
                    "1772": 176,
                    "1773": 122,
                    "1774": 167,
                    "1775": 59,
                    "1776": 141,
                    "1777": 9,
                    "1778": 27,
                    "1779": 7,
                    "1780": 112,
                    "1781": 131,
                    "1782": 33,
                    "1783": 166,
                    "1784": 115,
                    "1785": 82,
                    "1786": 27,
                    "1787": 55,
                    "1788": 160,
                    "1789": 223,
                    "1790": 221,
                    "1791": 206,
                    "1792": 56,
                    "1793": 168,
                    "1794": 165,
                    "1795": 51,
                    "1796": 230,
                    "1797": 25,
                    "1798": 120,
                    "1799": 153,
                    "1800": 245,
                    "1801": 240,
                    "1802": 103,
                    "1803": 201,
                    "1804": 201,
                    "1805": 128,
                    "1806": 232,
                    "1807": 156,
                    "1808": 15,
                    "1809": 71,
                    "1810": 226,
                    "1811": 177,
                    "1812": 184,
                    "1813": 140,
                    "1814": 30,
                    "1815": 29,
                    "1816": 41,
                    "1817": 86,
                    "1818": 198,
                    "1819": 84,
                    "1820": 235,
                    "1821": 107,
                    "1822": 186,
                    "1823": 222,
                    "1824": 245,
                    "1825": 27,
                    "1826": 143,
                    "1827": 142,
                    "1828": 156,
                    "1829": 79,
                    "1830": 25,
                    "1831": 215,
                    "1832": 82,
                    "1833": 162,
                    "1834": 165,
                    "1835": 179,
                    "1836": 29,
                    "1837": 167,
                    "1838": 64,
                    "1839": 54,
                    "1840": 147,
                    "1841": 39,
                    "1842": 157,
                    "1843": 234,
                    "1844": 250,
                    "1845": 161,
                    "1846": 149,
                    "1847": 126,
                    "1848": 54,
                    "1849": 30,
                    "1850": 2,
                    "1851": 61,
                    "1852": 58,
                    "1853": 106,
                    "1854": 151,
                    "1855": 34,
                    "1856": 229,
                    "1857": 142,
                    "1858": 172,
                    "1859": 118,
                    "1860": 147,
                    "1861": 34,
                    "1862": 73,
                    "1863": 26,
                    "1864": 148,
                    "1865": 156,
                    "1866": 157,
                    "1867": 219,
                    "1868": 184,
                    "1869": 185,
                    "1870": 94,
                    "1871": 175,
                    "1872": 108,
                    "1873": 228,
                    "1874": 79,
                    "1875": 132,
                    "1876": 29,
                    "1877": 167,
                    "1878": 188,
                    "1879": 254,
                    "1880": 82,
                    "1881": 138,
                    "1882": 161,
                    "1883": 84,
                    "1884": 5,
                    "1885": 0,
                    "1886": 1,
                    "1887": 184,
                    "1888": 77,
                    "1889": 146,
                    "1890": 114,
                    "1891": 106,
                    "1892": 177,
                    "1893": 69,
                    "1894": 236,
                    "1895": 14,
                    "1896": 209,
                    "1897": 227,
                    "1898": 200,
                    "1899": 74,
                    "1900": 100,
                    "1901": 157,
                    "1902": 74,
                    "1903": 165,
                    "1904": 205,
                    "1905": 148,
                    "1906": 56,
                    "1907": 163,
                    "1908": 189,
                    "1909": 212,
                    "1910": 94,
                    "1911": 253,
                    "1912": 223,
                    "1913": 156,
                    "1914": 108,
                    "1915": 41,
                    "1916": 66,
                    "1917": 213,
                    "1918": 122,
                    "1919": 171,
                    "1920": 100,
                    "1921": 4,
                    "1922": 11,
                    "1923": 14,
                    "1924": 54,
                    "1925": 151,
                    "1926": 0,
                    "1927": 0,
                    "1928": 0,
                    "1929": 22,
                    "1930": 2,
                    "1931": 67,
                    "1932": 16,
                    "1933": 170,
                    "1934": 72,
                    "1935": 202,
                    "1936": 61,
                    "1937": 41,
                    "1938": 236,
                    "1939": 144,
                    "1940": 108,
                    "1941": 127,
                    "1942": 242,
                    "1943": 1,
                    "1944": 120,
                    "1945": 73,
                    "1946": 5,
                    "1947": 174,
                    "1948": 5,
                    "1949": 179,
                    "1950": 163,
                    "1951": 115,
                    "1952": 43,
                    "1953": 182,
                    "1954": 18,
                    "1955": 22,
                    "1956": 226,
                    "1957": 53,
                    "1958": 168,
                    "1959": 212,
                    "1960": 206,
                    "1961": 198,
                    "1962": 200,
                    "1963": 251,
                    "1964": 26,
                    "1965": 251,
                    "1966": 142,
                    "1967": 227,
                    "1968": 251,
                    "1969": 229,
                    "1970": 52,
                    "1971": 151,
                    "1972": 170,
                    "1973": 125,
                    "1974": 24,
                    "1975": 42,
                    "1976": 159,
                    "1977": 17,
                    "1978": 212,
                    "1979": 247,
                    "1980": 8,
                    "1981": 235,
                    "1982": 74,
                    "1983": 236,
                    "1984": 26,
                    "1985": 169,
                    "1986": 206,
                    "1987": 219,
                    "1988": 184,
                    "1989": 14,
                    "1990": 225,
                    "1991": 41,
                    "1992": 51,
                    "1993": 194,
                    "1994": 173,
                    "1995": 97,
                    "1996": 118,
                    "1997": 45,
                    "1998": 58,
                    "1999": 107,
                    "2000": 76,
                    "2001": 89,
                    "2002": 70,
                    "2003": 211,
                    "2004": 169,
                    "2005": 58,
                    "2006": 152,
                    "2007": 209,
                    "2008": 106,
                    "2009": 84,
                    "2010": 84,
                    "2011": 181,
                    "2012": 238,
                    "2013": 73,
                    "2014": 208,
                    "2015": 13,
                    "2016": 164,
                    "2017": 196,
                    "2018": 202,
                    "2019": 245,
                    "2020": 125,
                    "2021": 97,
                    "2022": 200,
                    "2023": 159,
                    "2024": 8,
                    "2025": 59,
                    "2026": 79,
                    "2027": 121,
                    "2028": 252,
                    "2029": 166,
                    "2030": 129,
                    "2031": 173,
                    "2032": 86,
                    "2033": 236,
                    "2034": 86,
                    "2035": 144,
                    "2036": 206,
                    "2037": 219,
                    "2038": 248,
                    "2039": 14,
                    "2040": 243,
                    "2041": 36,
                    "2042": 104,
                    "2043": 50,
                    "2044": 183,
                    "2045": 90,
                    "2046": 125,
                    "2047": 35,
                    "2048": 94,
                    "2049": 229,
                    "2050": 109,
                    "2051": 97,
                    "2052": 245,
                    "2053": 115,
                    "2054": 157,
                    "2055": 10,
                    "2056": 161,
                    "2057": 84,
                    "2058": 5,
                    "2059": 0,
                    "2060": 1,
                    "2061": 184,
                    "2062": 68,
                    "2063": 168,
                    "2064": 228,
                    "2065": 183,
                    "2066": 87,
                    "2067": 79,
                    "2068": 182,
                    "2069": 117,
                    "2070": 63,
                    "2071": 8,
                    "2072": 227,
                    "2073": 41,
                    "2074": 60,
                    "2075": 142,
                    "2076": 140,
                    "2077": 29,
                    "2078": 67,
                    "2079": 41,
                    "2080": 184,
                    "2081": 51,
                    "2082": 100,
                    "2083": 122,
                    "2084": 163,
                    "2085": 79,
                    "2086": 206,
                    "2087": 163,
                    "2088": 175,
                    "2089": 188,
                    "2090": 164,
                    "2091": 246,
                    "2092": 191,
                    "2093": 88,
                    "2094": 26,
                    "2095": 217,
                    "2096": 192,
                    "2097": 90,
                    "2098": 93,
                    "2099": 179,
                    "2100": 173,
                    "2101": 253,
                    "2102": 222,
                    "2103": 248,
                    "2104": 176,
                    "2105": 185,
                    "2106": 181,
                    "2107": 24,
                    "2108": 179,
                    "2109": 117,
                    "2110": 116,
                    "2111": 205,
                    "2112": 143,
                    "2113": 188,
                    "2114": 223,
                    "2115": 8,
                    "2116": 252,
                    "2117": 229,
                    "2118": 17,
                    "2119": 66,
                    "2120": 40,
                    "2121": 85,
                    "2122": 22,
                    "2123": 2,
                    "2124": 101,
                    "2125": 52,
                    "2126": 8,
                    "2127": 182,
                    "2128": 29,
                    "2129": 228,
                    "2130": 157,
                    "2131": 230,
                    "2132": 21,
                    "2133": 28,
                    "2134": 34,
                    "2135": 230,
                    "2136": 63,
                    "2137": 224,
                    "2138": 106,
                    "2139": 100,
                    "2140": 40,
                    "2141": 85,
                    "2142": 124,
                    "2143": 131,
                    "2144": 75,
                    "2145": 177,
                    "2146": 216,
                    "2147": 7,
                    "2148": 19,
                    "2149": 50,
                    "2150": 146,
                    "2151": 21,
                    "2152": 187,
                    "2153": 57,
                    "2154": 187,
                    "2155": 182,
                    "2156": 167,
                    "2157": 240,
                    "2158": 28,
                    "2159": 166,
                    "2160": 83,
                    "2161": 67,
                    "2162": 152,
                    "2163": 189,
                    "2164": 78,
                    "2165": 217,
                    "2166": 217,
                    "2167": 111,
                    "2168": 132,
                    "2169": 112,
                    "2170": 142,
                    "2171": 204,
                    "2172": 21,
                    "2173": 75,
                    "2174": 49,
                    "2175": 176,
                    "2176": 26,
                    "2177": 152,
                    "2178": 6,
                    "2179": 194,
                    "2180": 67,
                    "2181": 45,
                    "2182": 74,
                    "2183": 190,
                    "2184": 119,
                    "2185": 88,
                    "2186": 212,
                    "2187": 193,
                    "2188": 209,
                    "2189": 64,
                    "2190": 26,
                    "2191": 115,
                    "2192": 231,
                    "2193": 9,
                    "2194": 73,
                    "2195": 114,
                    "2196": 204,
                    "2197": 193,
                    "2198": 65,
                    "2199": 44,
                    "2200": 64,
                    "2201": 3,
                    "2202": 121,
                    "2203": 147,
                    "2204": 206,
                    "2205": 245,
                    "2206": 125,
                    "2207": 88,
                    "2208": 202,
                    "2209": 191,
                    "2210": 19,
                    "2211": 13,
                    "2212": 191,
                    "2213": 80,
                    "2214": 154,
                    "2215": 180,
                    "2216": 142,
                    "2217": 108,
                    "2218": 213,
                    "2219": 78,
                    "2220": 103,
                    "2221": 27,
                    "2222": 183,
                    "2223": 14,
                    "2224": 225,
                    "2225": 7,
                    "2226": 114,
                    "2227": 91,
                    "2228": 171,
                    "2229": 167,
                    "2230": 218,
                    "2231": 222,
                    "2232": 126,
                    "2233": 31,
                    "2234": 214,
                    "2235": 1,
                    "2236": 180,
                    "2237": 233,
                    "2238": 170,
                    "2239": 92,
                    "2240": 141,
                    "2241": 172,
                    "2242": 117,
                    "2243": 99,
                    "2244": 180,
                    "2245": 152,
                    "2246": 243,
                    "2247": 21,
                    "2248": 114,
                    "2249": 168,
                    "2250": 2,
                    "2251": 230,
                    "2252": 220,
                    "2253": 76,
                    "2254": 90,
                    "2255": 175,
                    "2256": 150,
                    "2257": 193,
                    "2258": 69,
                    "2259": 221,
                    "2260": 180,
                    "2261": 18,
                    "2262": 20,
                    "2263": 202,
                    "2264": 142,
                    "2265": 65,
                    "2266": 8,
                    "2267": 155,
                    "2268": 106,
                    "2269": 29,
                    "2270": 57,
                    "2271": 14,
                    "2272": 38,
                    "2273": 53,
                    "2274": 52,
                    "2275": 8,
                    "2276": 182,
                    "2277": 27,
                    "2278": 73,
                    "2279": 218,
                    "2280": 73,
                    "2281": 222,
                    "2282": 102,
                    "2283": 83,
                    "2284": 76,
                    "2285": 128,
                    "2286": 146,
                    "2287": 110,
                    "2288": 199,
                    "2289": 83,
                    "2290": 198,
                    "2291": 109,
                    "2292": 71,
                    "2293": 8,
                    "2294": 183,
                    "2295": 59,
                    "2296": 73,
                    "2297": 216,
                    "2298": 0,
                    "2299": 222,
                    "2300": 96,
                    "2301": 25,
                    "2302": 85,
                    "2303": 242,
                    "2304": 128,
                    "2305": 20,
                    "2306": 93,
                    "2307": 219,
                    "2308": 65,
                    "2309": 251,
                    "2310": 221,
                    "2311": 16,
                    "2312": 81,
                    "2313": 43,
                    "2314": 231,
                    "2315": 35,
                    "2316": 122,
                    "2317": 93,
                    "2318": 73,
                    "2319": 58,
                    "2320": 55,
                    "2321": 35,
                    "2322": 30,
                    "2323": 146,
                    "2324": 17,
                    "2325": 118,
                    "2326": 125,
                    "2327": 174,
                    "2328": 117,
                    "2329": 60,
                    "2330": 57,
                    "2331": 8,
                    "2332": 228,
                    "2333": 128,
                    "2334": 9,
                    "2335": 38,
                    "2336": 192,
                    "2337": 74,
                    "2338": 66,
                    "2339": 107,
                    "2340": 89,
                    "2341": 114,
                    "2342": 146,
                    "2343": 254,
                    "2344": 105,
                    "2345": 94,
                    "2346": 208,
                    "2347": 59,
                    "2348": 161,
                    "2349": 77,
                    "2350": 75,
                    "2351": 55,
                    "2352": 89,
                    "2353": 80,
                    "2354": 88,
                    "2355": 251,
                    "2356": 171,
                    "2357": 195,
                    "2358": 245,
                    "2359": 147,
                    "2360": 52,
                    "2361": 250,
                    "2362": 246,
                    "2363": 21,
                    "2364": 15,
                    "2365": 155,
                    "2366": 151,
                    "2367": 177,
                    "2368": 179,
                    "2369": 237,
                    "2370": 63,
                    "2371": 148,
                    "2372": 165,
                    "2373": 58,
                    "2374": 151,
                    "2375": 57,
                    "2376": 42,
                    "2377": 0,
                    "2378": 181,
                    "2379": 6,
                    "2380": 237,
                    "2381": 199,
                    "2382": 152,
                    "2383": 128,
                    "2384": 80,
                    "2385": 155,
                    "2386": 11,
                    "2387": 157,
                    "2388": 39,
                    "2389": 49,
                    "2390": 112,
                    "2391": 245,
                    "2392": 84,
                    "2393": 184,
                    "2394": 34,
                    "2395": 151,
                    "2396": 184,
                    "2397": 78,
                    "2398": 140,
                    "2399": 127,
                    "2400": 122,
                    "2401": 71,
                    "2402": 245,
                    "2403": 231,
                    "2404": 253,
                    "2405": 161,
                    "2406": 255,
                    "2407": 0,
                    "2408": 111,
                    "2409": 210,
                    "2410": 89,
                    "2411": 128,
                    "2412": 96,
                    "2413": 67,
                    "2414": 0,
                    "2415": 65,
                    "2416": 220,
                    "2417": 96,
                    "2418": 100,
                    "2419": 71,
                    "2420": 70,
                    "2421": 99,
                    "2422": 113,
                    "2423": 81,
                    "2424": 151,
                    "2425": 144,
                    "2426": 183,
                    "2427": 229,
                    "2428": 8,
                    "2429": 189,
                    "2430": 93,
                    "2431": 69,
                    "2432": 217,
                    "2433": 78,
                    "2434": 160,
                    "2435": 11,
                    "2436": 184,
                    "2437": 50,
                    "2438": 220,
                    "2439": 143,
                    "2440": 182,
                    "2441": 16,
                    "2442": 12,
                    "2443": 171,
                    "2444": 89,
                    "2445": 191,
                    "2446": 151,
                    "2447": 122,
                    "2448": 187,
                    "2449": 3,
                    "2450": 109,
                    "2451": 241,
                    "2452": 148,
                    "2453": 166,
                    "2454": 129,
                    "2455": 22,
                    "2456": 195,
                    "2457": 188,
                    "2458": 147,
                    "2459": 169,
                    "2460": 48,
                    "2461": 132,
                    "2462": 1,
                    "2463": 164,
                    "2464": 112,
                    "2465": 222,
                    "2466": 114,
                    "2467": 117,
                    "2468": 173,
                    "2469": 181,
                    "2470": 219,
                    "2471": 83,
                    "2472": 248,
                    "2473": 66,
                    "2474": 16,
                    "2475": 59,
                    "2476": 150,
                    "2477": 145,
                    "2478": 163,
                    "2479": 231,
                    "2480": 213,
                    "2481": 168,
                    "2482": 237,
                    "2483": 180,
                    "2484": 171,
                    "2485": 21,
                    "2486": 28,
                    "2487": 132,
                    "2488": 33,
                    "2489": 1,
                    "2490": 150,
                    "2491": 145,
                    "2492": 169,
                    "2493": 231,
                    "2494": 226,
                    "2495": 22,
                    "2496": 155,
                    "2497": 118,
                    "2498": 2,
                    "2499": 230,
                    "2500": 183,
                    "2501": 19,
                    "2502": 120,
                    "2503": 66,
                    "2504": 16,
                    "2505": 101,
                    "2506": 167,
                    "2507": 62,
                    "2508": 41,
                    "2509": 69,
                    "2510": 71,
                    "2511": 165,
                    "2512": 73,
                    "2513": 187,
                    "2514": 45,
                    "2515": 123,
                    "2516": 145,
                    "2517": 174,
                    "2518": 193,
                    "2519": 8,
                    "2520": 66,
                    "2521": 200,
                    "2522": 120,
                    "2523": 31,
                    "2524": 10,
                    "2525": 229,
                    "2526": 232,
                    "2527": 130,
                    "2528": 214,
                    "2529": 190,
                    "2530": 209,
                    "2531": 179,
                    "2532": 145,
                    "2533": 149,
                    "2534": 132,
                    "2535": 36,
                    "2536": 101,
                    "2537": 65,
                    "2538": 8,
                    "2539": 66,
                    "2540": 1,
                    "2541": 255,
                    "2542": 217
                  },
                  "contextInfo": {
                    "mentionedJid": [],
                    "groupMentions": [],
                    "entryPointConversionSource": "non_contact",
                    "entryPointConversionApp": "whatsapp",
                    "entryPointConversionDelaySeconds": 18948
                  }
                }
              },
              "contextInfo": {
                "mentionedJid": [],
                "groupMentions": [],
                "entryPointConversionSource": "non_contact",
                "entryPointConversionApp": "whatsapp",
                "entryPointConversionDelaySeconds": 18948
              },
              "messageType": "locationMessage",
              "messageTimestamp": 1764958823,
              "instanceId": "21600619-2d1c-42c5-8cc0-b8b4678a52dd",
              "source": "android"
            },
            "destination": "http://n8n:5678/webhook/mequizap",
            "date_time": "2025-12-05T15:20:24.387Z",
            "sender": "558599422792@s.whatsapp.net",
            "server_url": "http://localhost:8080",
            "apikey": "79AFCF37D8E9-4463-9C64-20E55099FDB6"
          },
          "webhookUrl": "http://localhost:5678/webhook/mequizap",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente_Mequizap",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente_Mequizap": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cardapio_MC_reduzido": {
      "ai_tool": [
        [
          {
            "node": "Agente_Mequizap",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validação do número de entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Se mandar localização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POSTGRES_QUERY": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se mandar localização": {
      "main": [
        [
          {
            "node": "POSTGRES_QUERY",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Agente_Mequizap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validação do número de entrada": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente_Mequizap",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "remove_Jid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove_Jid": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Agente_Mequizap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92e73731-0933-4f5a-89b9-8a7c29fbf5c6",
  "meta": {
    "instanceId": "d3b453f5da3dc8025316bf0557e760f4fd6c24fbcbf610fbb4365b86af3b1255"
  },
  "id": "MPVZGwhLCJYhT3dE",
  "tags": []
}