workflows/API_Mock_Restaurantes.json
{
  "name": "API_Mock_Restaurantes",
  "nodes": [
    {
      "parameters": {
        "path": "restaurantes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        -16
      ],
      "id": "f5f371d2-1ddd-4bb3-b3c5-d0aba7c66f49",
      "name": "Webhook",
      "webhookId": "f570395c-961d-41b4-976d-60abf59e02f4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.data}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        432,
        -16
      ],
      "id": "8be512b0-32d5-4ca5-8935-377b7021469b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "http://mcdonalds-strapi:1337/api/restaurantes?fields=nome,endereco",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        -16
      ],
      "id": "b6831145-0512-4287-acd0-f8b9b5939880",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "### Recebe a requisição do Front-End",
        "height": 240,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        -112
      ],
      "typeVersion": 1,
      "id": "abe1e1d3-708d-44e0-a482-165b6f10e0f7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Faz um GET no Strapi para retornar os restaurantes cadastrados",
        "height": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -112
      ],
      "typeVersion": 1,
      "id": "86275be0-be08-409f-a62f-c89fcef6f969",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Retorna os dados dos restaurantes",
        "height": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -128
      ],
      "typeVersion": 1,
      "id": "75ee1ccf-c482-4119-ad91-f752ed560902",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9a9fd9b-aed3-45fe-9988-686740c831eb",
  "meta": {
    "instanceId": "d3b453f5da3dc8025316bf0557e760f4fd6c24fbcbf610fbb4365b86af3b1255"
  },
  "id": "c1hIM80c3gP5Yqv6",
  "tags": []
}